{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Parolni tiklash havolasi yuborildi" %}{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <h1>{% trans "Parolni tiklash havolasi yuborildi" %}</h1>
    <p>{% trans "Parolni tiklash havolasi sizning elektron pochta manzilingizga yuborildi. Iltimos, elektron pochtangizni tekshiring." %}</p>

    {% url 'accounts:password_reset' as password_reset_url %}
    {% blocktrans with password_reset_url=password_reset_url %}
      Agar siz emailni topa olmasangiz, spam/junk papkangizni tekshiring yoki
      <a href="{{ password_reset_url }}" class="text-primary">yangi parol so‘rang</a>.
    {% endblocktrans %}
  </div>
{% endblock content %}
