{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Parolni qayta tiklash" %}{% endblock title %}

{% block content %}
  <div class="container my-5">
    <h2 class="mb-3 text-center">{% trans "🔒 Parolni qayta tiklash" %}</h2>
    <p class="text-center">
      {% trans "Parolni qayta tiklash uchun elektron pochta manzilingizni kiriting. Sizga parolni tiklash havolasi yuboriladi." %}
    </p>

    <form method="post" class="mx-auto shadow p-4 rounded bg-light" style="max-width: 400px;">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">{% trans "Yuborish" %}</button>
      </div>
    </form>
  </div>
{% endblock content %}
