{% load i18n %}{% autoescape off %}
{% blocktrans %}Salom {{ user.get_username }},{% endblocktrans %}

{% blocktrans %}Parolni qayta tiklash bo‘yicha so‘rov qabul qilindi. Parolingizni quyidagi havola orqali yangilashingiz mumkin:{% endblocktrans %}

👉 {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Agar siz parolni qayta tiklashni so‘ramagan bo‘lsangiz, bu xabarni e’tiborsiz qoldiring. Sizning profilingiz xavfsizligicha qoladi.{% endblocktrans %}

{% blocktrans %}Hurmat bilan,{% endblocktrans %}
**TechNews jamoasi**
{% endautoescape %}
