{% extends 'news/base.html' %}

{% load i18n %}
{% load static %}

{% block title %} Parolni tiklash havolasi yuborildi {% endblock title %}

{% block content %}
  <h1>Parolni tiklash havolasi yuborildi</h1>
  <p>Parolni tiklash havolasi sizning elektron pochta manzilingizga yuborildi. Iltimos, elektron pochtangizni tekshiring.</p>
  <p>Agar siz emailni topa olmasangiz, spam/junk papkangizni tekshiring, yoki
    <a href="{% url 'accounts:password_reset' %}" class="text-primary">yangi parol so'rang</a>.
  </p>
{% endblock content %}
