{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Ro‘yxatdan o‘tish yakunlandi" %}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="text-success">{% trans "Tabriklaymiz!" %}</h2>
        <p>{% trans "Siz muvaffaqiyatli ro‘yxatdan o‘tdingiz." %}</p>

        {% url 'accounts:login' as login_url %}
        {% blocktrans with login_url=login_url %}
            Endi <a href="{{ login_url }}" class="text-primary">login</a> sahifasidan tizimga kirishingiz mumkin.
        {% endblocktrans %}
    </div>
</div>
{% endblock content %}
