{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Yangilikni o'chirish {% endblock title %}

{% block content %}
  <div class="container my-4">
    <h2 class="mb-3">{% trans "🗑 O'chirishni tasdiqlash" %}</h2>
    <p>{% blocktrans with title=object.title %}
      Xaqiqattan ham "<strong>{{ title }}</strong>" yangilikni o‘chirmoqchimisiz?
    {% endblocktrans %}
    </p>
    <form method="post" class="mt-3">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">{% trans "Ha, o'chir" %}</button>
      <a href="{{ news.get_absolute_url }}" class="btn btn-secondary">{% trans "Bekor qilish" %}</a>
    </form>
  </div>
{% endblock content %}
